# Исключаем папку Pods
Pods/

# Исключаем Podfile.lock
Podfile.lock

# Рабочее пространство Xcode
*.xcworkspace

# Конфигурационные файлы пользователя Xcode
xcuserdata/
DerivedData/
.idea/

# Кэш
*.swp
*.tmp
.DS_Store

# API Key
Config/PexelsApiKey.swift
